body{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
  font-size: 16px;
  color: rgb(43, 48, 56);
}
h1{
  font-family: 'Satisfy', cursive;
  font-size: 80px;
  text-align: center;
  color: #1f3d7a;
}
h2{
  font-size: 50px;
  font-family: 'Satisfy', cursive;
}
h3{
  text-align: center;
  font-family: font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 30px;
  font-weight: lighter;
  font-style: italic;
}
p{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 35px;
  width: 80em;
  padding: 10px;
}

a{
  display: block;
  text-decoration: none;
  color: #3d5daf
}
a:hover{
  color: #b23030;
}
/*skyline photo to span the entire web browser width*/
#long{
  width: 100%;
}

/*"4 must see sights" styling*/
.sights{
  padding: 5px;
  border: 5px dotted #b23030;
}
.desc p{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}
.thing{
  display: inline-block;
  box-shadow: 5px 10px 10px 5px #888888;
  margin: 20px;
}

/*general form styling*/
form{
  display: block;
  padding: 20px;
  font-size: 20px;
}

/*menu styling w/ some help from w3c*/
#menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#menu li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul{
  list-style-type: circle;
  list-style-position: inside;
  text-align: left;
}

li{
  margin: 10px;
}

li:hover{
  color:#b23030;
  list-style-type: square;
}

#todo{
  margin-left: auto;
  margin-right: auto;
  width: 25em;
}

/*events styling*/

#events{
  width: 80%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
}
#events h2{
  text-align: center;
  margin-left: 30px;
  padding-top: 10px;
}
table{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding: 50px;
  border-collapse: collapse;
}
td{
  text-align: center;
  padding: 15px;
}

tr:nth-child(even) {
  background-color: hsl(211, 46%, 91%);
}

tr:hover {
  background-color: #f5f5f5;
}

th {
    background-color: rgb(43, 48, 56);
    color: white;
    font-size: 20px;
    height: 30px;
    text-align: center;
}

/*button and form styling*/
#ab{
  margin-left: auto;
  margin-right: auto;
  float: none;
}

input[type=submit]{
    background-color: #1f3d7a;
    border: none;
    color: white;
	  font-family: "Trebuchet MS", Helvetica, sans-serif;
    padding: 6px 10px;
    text-decoration: none;
    margin: 6px 4px;
    cursor: pointer;
	  border-radius: 100px;
}
input[type=submit]:hover{
    background-color: #b23030;
    border: none;
    color: white;
	  font-family: "Trebuchet MS", Helvetica, sans-serif;
    padding: 6px 10px;
    text-decoration: none;
    margin: 6px 4px;
    cursor: pointer;
	  border-radius: 100px;
}
input[type=email], [type=text]{
	padding: 6px 10px;
  margin: 10px;
  border: none;
  border-bottom: 3px solid #1f3d7a;
}
input[type=email]:focus{
  padding: 10px;
  width: 600px;
  outline: none;
  border: none;
  border-bottom: 3px solid #b23030;
}

input[type=text]:focus{
  padding: 10px;
  width: 600px;
  outline: none;
  border: none;
  border-bottom: 3px solid #b23030;
}

fieldset {
  text-align: center;
  border-radius: 6px;
  width: 800px;
  height: 360px;
  display: inline-block;
}
label{
  display: block;
  margin-bottom: 10px;
}

textarea{
  margin: 5px;
  height: 100px;
  width: 60%;
  padding: 12px 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: none;
}

legend{
  font-size: 30px;
}

/*footer styling*/
#bottom{
  text-align: center;
}
